.book-row {
  display: flex;
  gap: 20px;  /* space between each image */
  justify-content: center;
  padding: 20px;
}

.book-item {
  display: flex;
  flex-direction: column;  /* stack vertically */
  align-items: center;
  text-align: center;
}

.book-item img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.book-item .title {
  font-size: 20px;
  color: rgba(6, 77, 41, 0.988);
  margin: 5px 0;
  font-weight: bold;
}

.book-item .review {
  font-size: 14px;
  color: #ffffff;
  margin: 5px 0;
  max-width: 200px;
}

.book-item .author {
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;  /* Space between items */
}

.container {
  width: 750px;
  border: 4px solid rgba(114, 99, 18, 0.988);
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
  background-color: rgb(138, 159, 102);
}

title {
  color: rgba(6, 77, 41, 0.988);
}

h1 {
    color: rgba(6, 77, 41, 0.988);
}

h2 {
    color: rgba(114, 99, 18, 0.988);
}

p {
    color: #ffffff;
}